{% extends 'cyph3r/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="bg-gradient-to-b from-orange-100 via-orange-50 to-white dark:bg-gradient-to-b dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 flex flex-col min-h-screen justify-center items-center w-full">
    
    <div class="relative flex justify-center items-center w-full">    
   
        <div id="form" class="w-full max-w-sm p-2">
            <!-- Form Start -->
            <form method="POST" class="w-full bg-white dark:bg-slate-800  shadow-md rounded-lg px-4 pt-4 pb-4 ">
                <div class="mb-2">
                {% csrf_token %}
                    <!-- Non-field Errors -->
                    {% if form.non_field_errors %}
                    <span class="text-red-500 text-xs"> {{ form.non_field_errors }}</span>
                    {% endif %}
                    <p class="text-center pb-6 font-sans dark:text-white font-semibold text-xs">{% translate "ENTER KEY" %}</p>

                    <!-- Visible Fields -->

                    {% for field in form.visible_fields %}
                        <div class="mb-4">
                            <label for="{{ field.id_for_label}}" class="block text-gray-500 dark:text-slate-300 text-xs font-semibold mb-1">{{ field.label|upper }}</label>
                            {{ field|add_class:"bg-gray-200 text-xs appearance-none border-2 border-gray-200 px-2 py-1 rounded w-full text-gray-500 leading-tight focus:outline-none focus:bg-white focus:ring-0 dark:focus:border-cyan-500 focus:border-orange-500" }}
                            <div class="text-xs text-gray-500 dark:text-slate-300">{{ field.help_text }}</div> 
                            {% if field.errors %}
                                <span class="text-red-500 text-xs">
                                    {% for error in field.errors %}
                                    {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <!-- Buttons -->
                    <div class="flex justify-end">
                            <button type="submit" class="dark:bg-cyan-500 dark:hover:bg-cyan-400 bg-orange-500 hover:bg-orange-400 text-white text-xs mt-2 px-6 py-2 rounded-lg transition">
                                {% translate "Next" %}
                            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
