{% extends 'cyph3r/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="bg-gradient-to-b from-orange-100 via-orange-50 to-white dark:bg-gradient-to-b dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 flex flex-col min-h-screen justify-center items-center w-full">
    <div class="relative flex justify-center items-center w-full">        
        <div id="form" class="w-full max-w-lg p-16">
            <!-- Form Start -->
            <form method="POST" enctype="multipart/form-data" class="w-full bg-white dark:bg-slate-800 shadow-md rounded-lg px-4 pt-6 pb-6">
                <div class="mb-2">
                {% csrf_token %}
                    <!-- Non-field Errors -->
                    {% if form.non_field_errors %}
                    <span class="text-red-500 text-xs"> {{ form.non_field_errors }}</span>
                    {% endif %}

                    <!-- Visible Fields -->

                    {% for field in form.visible_fields %}
                        <!-- Hide share count and threshold count fields -->
                        {% if field.name == "share_count" %}
                            <div id="share_count" class="mb-4 {% if not field.errors %}hidden{% endif %}">
                                <label for="{{ field.id_for_label}}" class="block dark:text-slate-300 text-gray-500 text-xs font-semibold mb-1">{{ field.label|upper }}</label>
                                {{ field|add_class:"bg-gray-200 text-xs appearance-none border-2 border-gray-200 px-2 py-1 rounded w-full text-gray-500 leading-tight focus:outline-none focus:bg-white focus:ring-0 dark:focus:border-cyan-500 focus:border-orange-500" }}
                                <div class="text-xs text-gray-500 dark:text-slate-300">{{ field.help_text }}</div> 
                                {% if field.errors %}
                                    <span class="text-red-500 text-xs">
                                        {% for error in field.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        {% elif field.name == "threshold_count" %}
                            <div id="threshold_count" class="mb-4 {% if not field.errors %}hidden{% endif %}">
                                <label for="{{ field.id_for_label}}" class="block text-gray-500 dark:text-slate-300 text-xs font-semibold mb-1">{{ field.label|upper }}</label>
                                {{ field|add_class:"bg-gray-200 text-xs appearance-none border-2 border-gray-200 px-2 py-1 rounded w-full text-gray-500 leading-tight focus:outline-none focus:bg-white focus:ring-0 dark:focus:border-cyan-500 focus:border-orange-500" }}
                                <div class="text-xs text-gray-500 dark:text-slate-300">{{ field.help_text }}</div> 
                                {% if field.errors %}
                                    <span class="text-red-500 text-xs">
                                        {% for error in field.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        {% elif field.name == "key_share_public_keys" %}
                            <div id="public_keys" class="mb-4 {% if not field.errors %}hidden{% endif %}">
                                <label for="{{ field.id_for_label}}" class="block text-gray-500 dark:text-slate-300 text-xs font-semibold mb-1">{{ field.label|upper }}</label>
                                {{ field|add_class:"bg-gray-200 text-xs appearance-none border-2 border-gray-200 px-2 py-1 rounded w-full text-gray-500 leading-tight focus:outline-none focus:bg-white focus:ring-0 dark:focus:border-cyan-500 focus:border-orange-500" }}
                                <div class="text-xs text-gray-500 dark:text-slate-300">{{ field.help_text }}</div> 
                                {% if field.errors %}
                                    <span class="text-red-500 text-xs">
                                        {% for error in field.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        <!-- Render other fields -->
                        {% elif field.name == "pgp_encrypt" %}
                            <div id="pgp_encrypt" class="mb-4">
                                <div class="flex gap-2">
                                    <label for="{{ field.id_for_label}}" class="block text-gray-500 dark:text-slate-300 text-xs font-semibold mb-1">{{ field.label|upper }}</label>
                                    {{ field|add_class:"bg-gray-200 text-xs appearance-none border-2 border-gray-200 px-2 py-1 rounded text-gray-500 leading-tight focus:outline-none focus:bg-white focus:ring-0 dark:focus:border-cyan-500 focus:border-orange-500" }}
                                </div>
                                <div class="text-xs text-gray-500 dark:text-slate-300">{{ field.help_text }}</div> 
                                {% if field.errors %}
                                    <span class="text-red-500 text-xs">
                                        {% for error in field.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>

                        {% else %}
                        
                        <div class="mb-4">
                            <label for="{{ field.id_for_label}}" class="block text-gray-500 dark:text-slate-300 text-xs font-semibold mb-1">{{ field.label|upper }}</label>
                            {{ field|add_class:"bg-gray-200 text-xs appearance-none border-2 border-gray-200 px-2 py-1 rounded w-full text-gray-500 leading-tight focus:outline-none focus:bg-white focus:ring-0 dark:focus:border-cyan-500 focus:border-orange-500" }}
                            <div class="text-xs text-gray-500 dark:text-slate-300">{{ field.help_text }}</div> 
                            {% if field.errors %}
                                <span class="text-red-500 text-xs">
                                    {% for error in field.errors %}
                                    {{ error }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}

                    <!-- Buttons -->
                    <div class="flex justify-between">
                            <a href={% url 'key-share-intro' %}>
                                <button type="button" class="dark:bg-cyan-500 dark:hover:bg-cyan-400 bg-orange-500 hover:bg-orange-400 text-white text-xs mt-2 px-6 py-2 rounded-lg transition">
                                    {% translate "Back" %}
                                </button>
                            </a>
                            <button type="submit" class="dark:bg-cyan-500 dark:hover:bg-cyan-400 bg-orange-500 hover:bg-orange-400 text-white text-xs mt-2 px-6 py-2 rounded-lg transition">
                                {% translate "Next" %}
                            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Script to show/hide share count and threshold count fields based on user selection -->
<script type="text/hyperscript">
    def checkSelections() 
        if (#id_scheme.value == "shamir" and #id_key_task.value == "split") 
            then remove .hidden from #share_count
            then remove .hidden from #threshold_count
        else if (#id_scheme.value == "xor" and (#id_key_task.value == "split" or #id_key_task.value == "reconstruct")) 
            then remove .hidden from #share_count
            add .hidden to #threshold_count
        else if (#id_scheme.value == "shamir" and #id_key_task.value == "reconstruct") 
            then remove .hidden from #threshold_count
            add .hidden to #share_count
        else
            add .hidden to #share_count 
            add .hidden to #threshold_count
    end

    def check_PGP_Encrypt()
        if (#id_pgp_encrypt.checked)
            then remove .hidden from #public_keys
        else
            add .hidden to #public_keys
    end

    on change from #id_scheme or change from #id_key_task call checkSelections()
    on change from #id_pgp_encrypt call check_PGP_Encrypt()
    on load call checkSelections() then call check_PGP_Encrypt()

</script>
{% endblock %}
